{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - My Articles
{% endblock %}

{% block leftContent %}
    {% for article in articles %}
        {% if article.enabled == true %}
            <article>
                <header>
                    <h1>{{ article.name|upper }}</h1>
                </header>
                <p> {{ article.content }} </p>
                <footer>
                    <time datetime="{{ article.date|date('c') }}">{{ article.date|date('d-m-y') }}</time>
                </footer>
            </article>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block rightContent  %}
    <p>COUCOUC JIFEINFPMNIPFHPIZN HCIOCIPN</p>
    <p>COUCOUC JIFEINFPMNIPFHPIZN HCIOCIPN</p>
{% endblock %}
